In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
df = df[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'survived']]
df["age"].fillna(df["age"].mean(), inplace=True)
df["sex"] = df["sex"].apply(lambda sx: 0 if sx=="female" else 1 if sx=="male" else sx)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 7 columns):
pclass      850 non-null int64
sex         850 non-null int64
age         850 non-null float64
sibsp       850 non-null int64
parch       850 non-null int64
fare        849 non-null float64
survived    850 non-null int64
dtypes: float64(2), int64(5)
memory usage: 46.6 KB

In [4]:
df[["pclass","fare"]].groupby("pclass").mean()
df[df["fare"].isna()]
df.head()

   pclass  sex        age  sibsp  parch     fare  survived
0       3    0  29.519847      0      0   7.7333         1
1       3    1  38.000000      0      0   8.6625         0
2       3    0  30.000000      1      1  24.1500         0
3       2    0  54.000000      1      3  23.0000         1
4       2    1  40.000000      0      0  13.0000         0

In [5]:
# df["fare"].fillna(df[["pclass","fare"]].groupby("pclass").mean())
df["fare"]=df.groupby('pclass', sort=False)['fare'].apply(lambda x: x.fillna(x.mean()))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 7 columns):
pclass      850 non-null int64
sex         850 non-null int64
age         850 non-null float64
sibsp       850 non-null int64
parch       850 non-null int64
fare        850 non-null float64
survived    850 non-null int64
dtypes: float64(2), int64(5)
memory usage: 46.6 KB

In [6]:
df["sex"].groupby(df["sex"]).count()

sex
0    299
1    551
Name: sex, dtype: int64

In [7]:
X = df.drop("survived", axis=1)
y = df["survived"]

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 6 columns):
pclass    850 non-null int64
sex       850 non-null int64
age       850 non-null float64
sibsp     850 non-null int64
parch     850 non-null int64
fare      850 non-null float64
dtypes: float64(2), int64(4)
memory usage: 39.9 KB

In [9]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=3)

In [11]:
from sklearn import tree
# model = SVC(kernel="linear", probability=True, random_state=0)
model = tree.DecisionTreeClassifier(min_samples_split=15)

In [12]:
model.fit(Xtrain, ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=15,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [13]:
ypredict = model.predict(Xtest)
from sklearn.metrics import accuracy_score
accscr = accuracy_score(ytest, ypredict)
accscr

0.8403755868544601